@charset "utf-8";
/* CSS Document */
@import url("css/bootstrap-4.4.1.css");
.nav {
	background-color: #2E0249;
	
		  }
		  
.active2 {
	background-color: #2E0249;  
	color: white;
		  }
		  
hr {
	height: .5px;
	background-color: #570A57;
	border: none;
	
		  }
		  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #2E0249;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2E0249;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.bg1 {
	background-image: url("images/zombie.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5px;
	margin-bottom: 10px;
}
.bg2 {
	background-image: url("images/book_1-01.jpg");
	height: 200%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;
	margin-bottom: 10px;
}
.bg3 {
	background-image: url("images/webwork.PNG");
	height: 200%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;
	margin-bottom: 10px;
}
.bg4 {
	background-image: url("images/showmelogo.png");
	height: 200%;
	background-position: center;
	background-repeat: no-repeat;
background-size: cover;
	padding: 10px;
	margin-bottom: 10px;
}



